[user]
	email = shuhel@ymail.com
	name = Shuhel Ahmed
[alias]
	st = status
	ci = commit
	co = checkout
	lg = log --oneline --graph
[core]
	editor = vi
	excludesFile = ~/.gitignore_global
	fsMonitor = false
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[init]
	defaultBranch = master
[status]
	showuntrackedfiles = all
	showuntrackedfiles = all
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[http]
	postBuffer = 157286400
