[user]
	email = shuhel@ymail.com
	name = Shuhel Ahmed
[alias]
	st = status
	ci = commit
	co = checkout
	lg = log --oneline --graph
[core]
	editor = vim
[diff]
	tool = vsdiffmerge
[difftool]
	prompt = true
