" # Tips to find/map/execute actions -------------------

" ## Executing actions:
" :action {action_id}

" ## Execute an action by id. Works from Ex command line.
" <Action>(*action_id*)
" For the mappings you can use a special <Action> keyword. Don't forget the parentheses.

" ## Finding actions:
" :actionlist [pattern]

" ## Find IDE actions by id or keymap pattern (E.g. :actionlist extract, :actionlist <C-D)
" In addition to :actionlist command, IdeaVim provides IdeaVim: track action Ids option to extract the ids of executed command.
" This option can be found in "Search everywhere" (double shift).


""" Map leader to backslash ---------------------
let mapleader=" "
set visualbell
set noerrorbells
set cb=unnamedplus

""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister
set NERDTree

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------
nmap gi <Action>(GotoImplementation)
nmap gr <Action>(FindUsages)

nmap <leader>rf <Action>(ReformatCode)
nmap <leader>/ <Action>(CommentByLineComment)
nmap <leader>o <Action>(FileStructurePopup)
nmap <leader>rn <Action>(RenameElement)
nmap <leader>b <Action>(ToggleLineBreakpoint)
nmap <leader>d <Action>(Debug)
nmap <leader>c <Action>(Stop)

nmap % <Action>(NewElement)

nmap T <Action>(Switcher)

nmap <leader>zz <Action>(ToggleDistractionFreeMode)

nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)

nmap - :NERDTree<CR>
nmap <C-j> <C-W>j
nmap <C-k> <C-W>k
nmap <C-h> <C-W>h
nmap <C-l> <C-W>l